*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair Display", serif;
    background-image: url("../imagens/blurred-background-of-a-restaurant-bar-interior-with-a-wooden-table-vertical-mobile-wallpaper-ai-generated-free-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    transition: all 1s linear;
    overflow: hidden;
}

.wrap-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 100vh;
    width: 100vw;
}

.wrap-img{
    margin-bottom: 4vh;
    opacity: 0.95;
    animation: fromTop 1.6s ease;
}

.textoptions:hover   {
    transform: scale(1.2);
    transition: all 200ms linear;
}

@keyframes fromTop {
    0%{
        transform: translateY(-200px);
        opacity: .2;
    }

    100%{
        transform: translateY(0px);
    }

}

.img-style{
    width: 320px;
    height: auto;
    filter: drop-shadow(0px 0px 15px #000000);
}
    
.wrap-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

p{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, alpha);
    filter: blur(0.5px);
    animation: show 2s ease;
    transition: all 160ms ease;
    opacity: 1;
}

@keyframes show {
    from{
        opacity: 0.05;
    }    
}


@media (width >= 800px){
body {
    background-image: url("../imagens/fundo-browser.jpg");
}

.img-style{
    width: 200px;
}

p{
    font-size: 6rem;
    font-weight: 900;
    opacity: 0.95;
    transition: all;
    filter: blur(0.5px);
}

p:hover{
    cursor: pointer;
    opacity: 1;
    filter: blur(0px);
    transition: all 160ms ease;
    ..........................................................................
}

}